/*font-family: 'Patrick Hand', cursive;
font-family: 'Roboto', sans-serif;
*/

p{
    color: red;
    font-family: 'Roboto', sans-serial;
}
h2{
    color: green;
    font-family: 'Patrick Hand', cursive;
    
}
h2 i{
    color: blue;
}
